/* Webfont: Capita-RegularItalic */@font-face {
    font-family: 'Capita-Italic';
    src: url('Capita-RegularItalic.eot'); /* IE9 Compat Modes */
    src: url('Capita-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Capita-RegularItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Capita-RegularItalic.woff') format('woff'), /* Modern Browsers */
         url('Capita-RegularItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Capita-RegularItalic.svg#Capita-RegularItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

