/* Webfont: Capita-Regular */@font-face {
    font-family: 'Capita-Regular';
    src: url('Capita-Regular.eot'); /* IE9 Compat Modes */
    src: url('Capita-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Capita-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('Capita-Regular.woff') format('woff'), /* Modern Browsers */
         url('Capita-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Capita-Regular.svg#Capita-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

